.lista-opciones label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: block;
    padding-bottom: 2%;

}

.lista-opciones select{
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 10px 10px 30px rgb(0 0 0 / 6%);
    border: none;
    padding: 30px 20px;
    outline-color: #8FEED8;
    font-size: 16px;
    border-radius: 20px;
}