.campo{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 24px;
    
}

.campo label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: block;
    padding-bottom: 2%; 
}

.campo input{
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 30px 20px;
    outline-color: #8FEED8;
    font-size: 16px;
    border-radius: 20px;
    box-sizing: border-box;
}

.campo-color input{
    height: 40px;
    padding: 5px 20px;
}